@import url(https://fonts.googleapis.com/css?family=Mulish:300,regular,500,700);

html > * {
  box-sizing: border-box;
}

body {
  font-family: Mulish, Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  align-items: center;
  padding: 20px 70px 20px 32px;
  margin-bottom: 30px;
}

.menu-btn {
  padding: 0;
  margin-right: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 17px;
  border: none;
  background-color: white;
}

.menu-line {
  display: block;
  width: 20px;
  height: 3px;
  background-color: #1f2022;
  border-radius: 20px;
}

.search-form {
  max-width: 830px;
  width: 50%;
  margin-left: 59px;
  display: flex;
  justify-content: space-between;

  background-color: #ebebeb;

  border-radius: 22px;
}

.search-field {
  width: 100%;
  padding: 12px 0 12px 23px;
  background-color: transparent;
  border-radius: 22px;
  border: none;
  opacity: 0.3;
}

.search-btn {
  padding-right: 17px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.icon-search {
  fill: #000;
}

.header-menu {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.menu-link {
  opacity: 0.24;
  text-decoration: none;
}

.menu-link:hover {
  opacity: 0.7;
}

.menu-link:not(:last-child) {
  margin-right: 50px;
}

.user {
  margin-left: 45px;
}

.user-avatar {
  border-radius: 50%;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}
/* ---------------nav list-------------------- */

nav {
  padding-left: 32px;
}

.nav-list li {
  margin-bottom: 28px;
  display: flex;
  align-items: center;
}

nav .icon {
  fill: #898989;
  padding-right: 14px;
}
.nav-list a {
  text-decoration: none;
  color: #898989;
}

.nav-list-extra {
  margin-bottom: 50px;
}

.nav-list-subs .setting {
  margin-top: auto;
}

.nav-list-subs h3 {
  margin: 0;
  padding: 0;
}

.nav-list-subs .subs-img {
  border-radius: 50%;
  padding-right: 14px;
}

.setting {
  padding-top: 104px;
}
